Park Data Set

In [2]:
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.pyplot as plt

In [21]:
parks = pd.read_csv("Parks.csv")
#parks.info()
park_neigh = parks.groupby("neighborhood").count()
park_neigh["neighborhood"] = park_neigh.index

Now we will make it so we only get the neighborhoods and id

In [23]:
park_2 = park_neigh[["neighborhood","_id"]] #gets neighborhood and id
park_2

                            neighborhood  _id
neighborhood
Allegheny Center        Allegheny Center    2
Allentown                      Allentown    2
Arlington                      Arlington    1
Banksville                    Banksville    2
Bedford Dwellings      Bedford Dwellings    1
...                                  ...  ...
Upper Lawrenceville  Upper Lawrenceville    3
West End                        West End    2
West Oakland                West Oakland    1
Westwood                        Westwood    3
Windgap                          Windgap    1

[73 rows x 2 columns]